/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#photobannertop{
	margin-top: 100px;
	margin-bottom: 10px;
}
#picspace{
	margin-left: 50px;
}
#ancestry_info {
	text-transform: none;
	font-size: 25px;
}
#profo_title {
 	font-size: 30px;
}
#top {
	height: 20px;
}
#topabout{
	height: 20px;
}
#tophome{
	height: 20px;
}
#topmaincontact {
	height: 30px;
}
* {margin: 0; padding: 0;}

       
        #container12 {
            width: 1000px;
            overflow: hidden;
            margin: 50px auto;
            background: white;
        }

        /*photobanner*/

        .photobanner {
            height: 233px;
            width: 1000px;
            margin-bottom: 80px;
        }

        /*keyframe animations*/
        .first {
            -webkit-animation: bannermove 80s linear infinite;
               -moz-animation: bannermove 80s linear infinite;
                -ms-animation: bannermove 80s linear infinite;
                 -o-animation: bannermove 80s linear infinite;
                    animation: bannermove 80s linear infinite;
        }

        @keyframes "bannermove" {
         0% {
            margin-left: 0px;
         }
         100% {
            margin-left: -2125px;
         }

        }

        @-moz-keyframes bannermove {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        @-webkit-keyframes "bannermove" {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        @-ms-keyframes "bannermove" {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        @-o-keyframes "bannermove" {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        .photobanner {
            height: 233px;
            width: 4500px;
            overflow: hidden;
            margin-bottom: 80px;
        }

        .photobanner img {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .photobanner img:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;

            -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        }